.Weather {
  background: #fff;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 10px 10px 50px rgb(65 50 100 / 25%);
  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  padding: 16px;
}
/*.Weather .btn {
  background: #f65282;
}
*/
.Weather h1 {
  color: #f65282;
  font-size: 42px;
  font-weight: 600;
  line-height: 35px;
  margin: 20px 0 15px 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather li span {
  color: #f65282;
}
.Weather canvas {
  display: inline-block;
}
.Weather .temperature {
  font-weight: 600;
  font-size: 80px;
  color: rgb(33, 33, 33);
  line-height: 80px;
  margin-left: 20px;
}
.Weather .unit {
  font-weight: 400;
  font-size: 28px;
  color: rgb(33, 33, 33);
  line-height: 1;
  position: relative;
  top: -34px;
}
