.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  padding: 16px;
}
.Weather h1 {
  color: #f65282;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather li span {
  color: #f65282;
}
.Weather canvas {
  margin-right: 5px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: 600;
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 64px;
}
.Weather .unit {
  font-weight: 400;
  font-size: 16px;
  color: rgb(33, 33, 33);
  line-height: 1;
  position: relative;
  top: -34px;
}
